
body {
    background-color: red;
    font-family:"Trebuchet MS", Tahoma, Verdana;
	font-size:16px;
}

main {
    width: 1024px;
    height: 640px;
    background-color: yellow;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 200px;
    background-color: green;
    display: block;
}

#logo {
    width: 200px;
    height: 120px;
    float: left;
}

nav {
    width: 540px;
    height: 50px;
    float: right;
    margin-top: 77px;
}

nav ul {
    display: inline-flex;
}

nav  a {
    text-decoration: none;
    color: #657EA7;
    font-size:18px;
    text-transform: uppercase;
    padding:20px 15px 20px 15px;
}

nav a:hover {
    background-color: #657EA7;
    color: #FFF;
}

section {
    width: 100%;
    height: 340px;
    background-color: gray;
}

footer {
    width: 100%;
    height: 100px;
    background-color: orange;
}
 