body { 
    font-family: 'Source', sans-serif;
}

.conteudo {    
    width: 920px;
    height: 740px;
    margin: 0 auto;
    background: white;
}

header {
    width: 100%;
    height: 70px;
    position: relative;
}

.logo {
    width: 100px;
    height: 154px;
    position: absolute;
    top: 0;
    left: 10px;    
}

.conteudo-meio {
    width: 100%;
    height: 620px;
}

.banner {
    width: 100%;
    height: 300px;
    border-bottom: 5px solid #BBA6E7;
    margin-bottom: 25px;
}

.destaque {
    width: 680px;
    height: 260px;
    float: left;
}

.destaque h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #39256a;
    font-weight: 600;
    text-decoration: underline;
    padding: 10px 0;
}

.destaque img {
    width: 300px;
    height: 200px;
    float: left;
}

.texto-destaque {    
    width: 370px;
    height: 200px;
    font-size: 16px;
    float: right;
    box-sizing: border-box;
}

p {
    margin-bottom: 15px;
    color: #8c8c8c;
    text-align: left;
}

.texto-secundario {
    width: 230px;
    height: 260px;
    float: right;
    padding: 0 15px;
    font-size: 13px;
    font-style: italic;
    border-left: 2px solid #e5ddf5;
    box-sizing: border-box;
}

.texto-secundario h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #39256a;
    font-weight: 600;
    text-decoration: underline;
    padding: 10px 0;
}

.rodape {
    width: 100%;
    height: 50px;
    background: #e5ddf5;
    clear: both;
}