body{
    background: #cccccc;
}

.container {
    width: 900px;
    height: 600px;   
    background: white;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
}

.topo {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background: yellow;
}

.meio {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin: 10px 0;
    background: blue;
}

/* COLUNA ESQUERDA*/
.coluna_esquerda {
    width: 30%;
    height: 400px;
    display: inline-block;
    background: pink;
}

.esquerda_bloco_01 {
    width: 100%;
    height: 210px;
    border: 1px solid black;
}

.esquerda_bloco_02 {
    width: 100%;
    height: 80px;
    border: 1px solid black;
}

.esquerda_bloco_03 {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}


/* COLUNA DIREITA*/
.coluna_direita {
    width: 69.5%;
    height: 400px;
    display: inline-block;
    background: red;
}

.direita_bloco_01 {
    width: 100%;
    height: 130px;
    border: 1px solid black;
}

.direita_bloco_02 {
    width: 100%;
    height: 160px;
    border: 1px solid black;
    background: gray;
}

.direita_bloco_03 {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background: green;
}

.rodape {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background: orange;
}