body {
    background-color: red;
}

* {
    box-sizing: border-box;
}

main {
    width: 1024px;
    height: 640px;
    margin: 0 auto;
    background-color: yellow;
}

header {
    width: 770px;
    height: 100px;
    margin: 0 auto;
    background-image: url("../img/topo.jpg");
    background-repeat: repeat-x;
}

#logo {
    float: left;
    margin-left: 10px;
}

nav {
    width: 70%;
    height: 70px;
    padding-top: 30px;    
    float: right;
}

ul {
    display: inline-flex;
}

ul a {
    padding: 5px 15px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

ul a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    height: 245px;
    background-color: grey;
}

footer {
    width: 770px;
    height: 35px;
    margin: 0 auto;
    background-color: orange;
}