body { 
    font-family: 'Source', sans-serif;
}

.conteudo {    
    width: 920px;
    height: 740px;
    margin: 0 auto;
    background: white;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 380px;
    position: relative;
}

nav {
    width: 100%;
    height: 70px;
    background-image: url("../img/topo.JPG");
    background-repeat: repeat-x;
    position: relative;
}

.menu ul {
    width: 85%;
    height: 30px;
    float: right;
}

.menu li {
    width: 140px;
    height: 70px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;    
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: 154px;
    position: absolute;
    top: 0;
    left: 20px;
}

.banner {
    width: 100%;
    height: 300px;
    border-bottom: 5px solid #BBA6E7;
}

article {
    width: 680px;
    height: 250px;
    background: lightcoral;
    border: 1px solid black;
    float: left;                     /*certo?*/
    margin-bottom: 50px;            /*melhorar?*/
}

aside {
    width: 230px;
    height: 250px;
    background: yellow;
    border: 1px solid black;
    float:right;
}

.rodape {
    width: 100%;
    height: 50px;
    background: plum;
    border: 1px solid black;
    clear: both;
}
