body {
    background: #e4e9f1;
}

.container {
    width: 960px;
    height: 645px;
    background: white;
    margin: 0 auto;
    padding: 15px 50px 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150px;
}

.logo {
    width: 185px;
    height: 120px;
    display: inline-block;
}

nav {
    width: 580px;
    height: 50px;
    display: inline-block;
    float: right;
    margin-top: 50px;
}

.menu li {
    width: 140px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #5e7aa7;
    text-transform: uppercase;    
    padding: 20px 15px;
    transition: 0.5s;
}

.menu a:hover {
    color: #FFFFFF;
    background: #5e7aa7;
}

main {
    width: 100%;
    height: 400px;
    background: pink;
}

footer{
    width: 100%;
    height: 80px;
    background: blue;
}