body {
    font-family: 'Roboto', sans-serif;
    background: #e4e9f1;
}

.container {
    width: 960px;
    height: 845px;
    background: white;
    margin: 0 auto;
    padding: 15px 50px 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150px;
}

.logo {
    width: 185px;
    height: 120px;
    display: inline-block;
}

nav {
    width: 580px;
    height: 50px;
    display: inline-block;
    float: right;
    margin-top: 50px;
}

.menu li {
    width: 140px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #5e7aa7;
    font-weight: bold;
    text-transform: uppercase;    
    padding: 20px 15px;
    transition: 0.5s;
}

.menu a:hover {
    color: #FFFFFF;
    background: #5e7aa7;
}

main {
    width: 100%;
    height: 600px;
    background: pink;
}

section {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

section h1 {
    font-size: 64px;
    text-transform: uppercase;
    color: #5e7aa7;
    font-weight: 800;
    margin: 20px 0 15px;
}

.conteudo {
    width: 60%;
    height: 300px;
    display: inline-block;
}

.conteudo p {
    margin: 10px 20px 10px 0;
}

.conteudo strong {
    font-weight: bold;
}

.alinhar_esquerda{
    float: left;
}

.alinhar_direita{
    float: right;
}

.imagem {
    width: 40%;
    height: 300px;
    background: yellow;
    display: inline-block;
}

footer{
    width: 100%;
    height: 80px;
    padding-top: 30px;
    box-sizing: border-box;
}

.rodape {
    width: 100%;
    height: 50px;
    background: #c5cedf;
}