body{
    background: #cccccc;
}

.principal {
    width: 940px;
    height: 500px;
    background: white;
    margin: 0 auto;
}

.topo {
    height: 75px;
    border: 15px solid #fffa0b;
    background: #0099ff;
}

.coluna_esquerda {
    width: 292px;
    height: 320px;
    border: 2px solid black;
    float:left;
}

.coluna_direita {
    width: 640px;
    height: 320px;
    border: 2px solid black;
    float: right;
}

.rodape {
    height: 55px;
    border: 15px solid #fffa0b;
    background: #0099ff;
    clear: right;
}