body{
    background: #cccccc;
}

.principal {
    width: 940px;
    height: 500px;
    background: white;
    margin: 0 auto;
    padding: 10px;
}

.topo {
    height: 70px;
    border: 10px solid #fffa0b;
    background: #0099ff;
}

.coluna_esquerda {
    width: 292px;
    height: 320px;
    border: 2px solid black;
    margin: 10px 0;
    float:left;
}

.esquerda_bloco_01 {
    border: 2px solid red;
    height: 150px;
}

.esquerda_bloco_02 {
    border: 2px solid red;
    height: 60px;
}

.esquerda_bloco_03 {
    border: 2px solid red;
    height: 100px;
}

.coluna_direita {
    width: 640px;
    height: 320px;
    border: 2px solid black;
    float: right;
    margin: 10px 0;
}

.rodape {
    height: 30px;
    border: 10px solid #fffa0b;
    background: #0099ff;
    clear: right;
}